openai
streamlit
langchain==0.0.141
matplotlib
tiktoken
seaborn
datetime
plotly
plotly.express
scipi
numpy
scikit-learn
apify-client
tenacity
pillow
pypdf
requests
pandas
sklearn
google-search-results
bs4
pinecone-client
streamlit_chat
